useDynLib(graphicalEvidence, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(foreach, "%dopar%")
export(evidence)
export(prior_sampling)
export(graphical_evidence_G_Wishart)
export(graphical_evidence_rmatrix)
export(set_seed_evidence)
export(gen_params_evidence)
export(test_evidence)